Challenge: Billboard Top 100 dataset

Este conjunto de datos representa la clasificación semanal de las canciones desde el momento en que ingresan al Billboard Top 100 hasta las 75 semanas siguientes.

Problemas:
* Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)
* Si una canción está en el Top 100 durante menos de 75 semanas, las columnas restantes se llenan con los valores faltantes.

In [2]:
import pandas as pd
df=pd.read_csv('D:/DEV.F/Modulo 2/datasets/billboard.csv',encoding="mac_latin2")
df.head(3)
df.columns

Index(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week',
       'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week',
       'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week',
       'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week',
       'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week',
       'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week',
       'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week',
       'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week',
       'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week',
       'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week',
       'x75th.week', 'x76th.week'],
      dtype='object')

## 1. Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)

Recuerda que el melting es una técnica utilizada cuando un conjunto de columnas con las que contamos corresponden a una misma variable, de tal manera que dichos nombres pasarán a ser valores dentro de una misma columna y sus valores en las celdas también serán almacenados en otra columna contigua.

Intrucciones: En el siguiente bloque de código realiza lo siguiente.

- Crea una lista con los nombres de las columnas que cumplen el criterio de Tidy Data (el nombre de la columna es una variable y no un valor) y almacénala en id_vars
- Asigna al argumento var_name el nombre "week"
- Asigna al argumento value_name el nombre "rank"

In [4]:
id_vars=['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked']
values=['x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week',
       'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week',
       'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week',
       'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week',
       'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week',
       'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week',
       'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week',
       'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week',
       'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week',
       'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week',
       'x75th.week', 'x76th.week']
df=df.melt(id_vars, values, var_name='week', value_name='rank')
df.head(3)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0

Bueno, todavía no hemos terminado, fíjate en los valores en la columna "week".
Imagina que permites al usuario ingresar un número para filtrar las observaciones y obtener únicamente las canciones que estuvieron en Billboard 50 semanas pero el parámetro lógicamente será un número, ¿no le pedirías al usuario que escriba "x50th.week" como parámetro de entrada, verdad?... ¡¿verdad?! D:

Limpiemos un poco más esos datos :D

Intrucciones: En el siguiente bloque de código realiza lo siguiente.
- Utiliza el método [extract de str](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) sobre la columna **week** y pásale como primer argumento la expresión *(\d+)*. Lo que hará, será extraer solo los número dentro de cada valor. Increíble, ¿no?. Puntos extra: ¿Puedes explicar qué hizo la expresión *(\d+)*?
- Consulta la documentación de [.str.extract](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) y lee la definición del argumento expand. ¿Lo pondrías en True o en False?
- Utiliza [.astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) para convertir la columa entera a **integer**

In [6]:
# Formatting
df["week"] = df['week'].str.extract(r'\d+') # Escribe aquí el código para realizar la extracción de caracteres
df["week"] = df['week'].astype(int)# Escribe aquí el código para la conversión

ValueError: pattern contains no capture groups